/* Botões  */
.btn{

    height:48px;

    padding:0 24px;

    border-radius:12px;

    transition:.2s;

    font-weight:600;

}

.btn-primary{

    background:var(--primary);

    color:white;

}
.btn-primary:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

}

.btn-secondary{

    border:1px solid var(--border);

}
